/* Roboto and Roboto Mono from Google are used for this program */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto Mono", "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  width: 70vw;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

body > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices {
  justify-content: space-between;
}

.status {
  flex-direction: column;
}